@model TimeEntryWithTemplateVM

@{
    var startOfWeek = Model.TimeEntry.StartWeek;
    var endOfWeek = Model.TimeEntry.EndWeek;
    var status = Model.TimeEntry.Approved;

    string rowClass = Model.TimeEntry.Approved == null ? "" : Model.TimeEntry.Approved == true ? "table-success" : "table-danger";
}

<header class="d-flex align-items-center justify-content-between bg-white p-3 shadow-sm">
    <div class="d-flex gap-2">
        <span class="bg-warning p-2 rounded"><i class="bi bi-calendar2-week text-light"></i></span>
        <h3 class="text-dark">Time Entry</h3>
    </div>
    <div>

        @if (Model.TimeEntry.Id == 0)
        {
            <button id="copyTemplateBtn" class="btn btn-outline-primary">Copy Template Schedule</button>
            @*<a class="btn btn-outline-primary" asp-action="Copy" asp-route-date="@startOfWeek.ToString("dd-MM-yy")">Copy From Previous Week</a>*@
            <button class="btn btn-outline-primary" id="copyBtn">Copy From Previous Week</button>
            <input class="btn btn-outline-primary" type="submit" form="timeForm" value="Subimt" />
        }
        else
        {
            <button id="copyTemplateBtn" class="btn btn-outline-primary" disabled>Copy Template Schedule</button>
            <button class="btn btn-outline-primary" disabled>Copy From Previous Week</button>
            <input class="btn btn-outline-primary" type="submit" form="timeForm" value="Subimt" disabled />
        }

    </div>
</header>

<partial name="_MessagePartial" />

<br />
<br />

<div class="bg-white">
    <div class="form-group d-flex gap-2 align-items-center p-3 border border-bottom-0 rounded-top">
        <span>Week Starting</span>
        <a asp-action="Index" asp-route-date="@startOfWeek.AddDays(-7).ToString("dd-MM-yy")" class="btn btn-info btn-sm"><i class="bi bi-arrow-left"></i></a>
        <form id="dateForm" asp-action="Index" method="get">
            <div class="input-group-sm date" id="datepicker">
                <input type="text" id="dateInput" class="form-control" value="@startOfWeek.ToString("dd/MM/yyyy")" name="date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </form>
        <a asp-action="Index" asp-route-date="@startOfWeek.AddDays(7).ToString("dd-MM-yy")" class="btn btn-info btn-sm"><i class="bi bi-arrow-right"></i></a>
    </div>
    <table class="table table-striped table-hover border rounded-bottom">
        <thead>
            <tr>
                <th>@startOfWeek.ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(1).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(2).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(3).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(4).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(5).ToString("ddd/dd")</th>
                <th>@endOfWeek.ToString("ddd/dd")</th>
                <th>Sum</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="@rowClass">
                @if (Model.TimeEntry.Id > 0)
                {
                    <td>@Model.TimeEntry.Hours[0].Hours</td>
                    <td>@Model.TimeEntry.Hours[1].Hours</td>
                    <td>@Model.TimeEntry.Hours[2].Hours</td>
                    <td>@Model.TimeEntry.Hours[3].Hours</td>
                    <td>@Model.TimeEntry.Hours[4].Hours</td>
                    <td>@Model.TimeEntry.Hours[5].Hours</td>
                    <td>@Model.TimeEntry.Hours[6].Hours</td>
                    <td>@Model.TimeEntry.Hours.Sum(h => h.Hours)</td>
                    if (status == null)
                    {
                        <td>Pending</td>
                    }
                    else if (status == true)
                    {
                        <td>Approved</td>
                    }
                    else
                    {
                        <td>Rejected</td>
                    }
                }
                else
                {
                    <form id="timeForm" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <td>
                        <input asp-for="TimeEntry.Hours[0].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[0].Hours" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TimeEntry.Hours[1].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[1].Hours" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TimeEntry.Hours[2].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[2].Hours" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TimeEntry.Hours[3].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[3].Hours" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TimeEntry.Hours[4].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[4].Hours" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TimeEntry.Hours[5].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[5].Hours" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TimeEntry.Hours[6].Hours" type="number" min="0" max="24" class="form-control" form="timeForm" />
                        <span asp-validation-for="TimeEntry.Hours[6].Hours" class="text-danger"></span>
                    </td>
                    <input asp-for="TimeEntry.StartWeek" value="@Model.TimeEntry.StartWeek" type="datetime" hidden form="timeForm" />
                    <input asp-for="TimeEntry.EndWeek" value="@Model.TimeEntry.EndWeek" type="datetime" hidden form="timeForm" />
                    </form>
                    <td>0</td>
                    <td></td>
                }

            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 5rem">
    <h4>Template Schedule</h4>
    <div class="form-group bg-white d-flex gap-2 align-items-center p-3 border border-bottom-0 rounded-top mt-3">
        <span>Week Starting</span>
        <div class="input-group-sm date" id="datepicker">
            <input type="text" class="form-control" value="@startOfWeek.ToString("dd/MM/yyyy")" disabled />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input class="btn btn-outline-primary btn-sm" type="submit" form="templateForm" value="Save Schedule" />
    </div>
    <table class="table table-striped bg-white table-hover border rounded-bottom">
        <thead>
            <tr>
                <th>@startOfWeek.ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(1).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(2).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(3).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(4).ToString("ddd/dd")</th>
                <th>@startOfWeek.AddDays(5).ToString("ddd/dd")</th>
                <th>@endOfWeek.ToString("ddd/dd")</th>
                <th>Sum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form id="templateForm" asp-action="SaveTemplate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <td>
                    <input asp-for="TemplateTime.Hours1" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours1" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="TemplateTime.Hours2" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours2" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="TemplateTime.Hours3" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours3" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="TemplateTime.Hours4" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours4" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="TemplateTime.Hours5" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours5" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="TemplateTime.Hours6" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours6" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="TemplateTime.Hours7" type="number" min="0" max="24" class="form-control" form="templateForm" />
                    <span asp-validation-for="TemplateTime.Hours7" class="text-danger"></span>
                </td>
                <input asp-for="TemplateTime.EmployeeId" value="@Model.TemplateTime.EmployeeId" hidden form="templateForm" />
                <input asp-for="TemplateTime.Id" value="@Model.TemplateTime.Id" hidden form="templateForm" />
                <input asp-for="TimeEntry.StartWeek" value="@Model.TimeEntry.StartWeek" type="datetime" hidden form="templateForm" />
                </form>
                <td>@Model.TemplateTime.Total</td>
            </tr>
        </tbody>
    </table>
</div>