@model AdminTimeEntryViewVM

<header class="d-flex gap-5 align-items-center justify-content-start bg-light p-3 shadow-sm">
    <div class="d-flex gap-2">
        <span class="bg-primary p-2 rounded"><i class="bi bi-clock-history text-light"></i></span>
        <h3 class="text-dark">Time Entries</h3>
    </div>
    <div class="d-flex gap-4">
        <div class="info-box-content">
            <span class="badge text-bg-info">@Model.TotalRequests</span>
            <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequests)</span>
        </div>
        <div class="info-box-content">
            <span class="info-box-text badge text-bg-warning">@Model.PendingRequests</span>
            <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequests)</span>
        </div>
        <div class="info-box-content">
            <span class="info-box-text badge text-bg-success">@Model.ApprovedRequests</span>
            <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
        </div>
        <div class="info-box-content">
            <span class="info-box-text badge text-bg-danger">@Model.RejectedRequests</span>
            <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
        </div>
    </div>
</header>

<br />
<br />

<table id="tblData" class="table table-hover border rounded-bottom">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Week Starting
            </th>
            <th>
                Week Ending
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Total Hours            
            </th>
            <th>
                Approval Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entries)
        {
            var tblBg = "";

            if (item.Approved == true) tblBg = "table-success";
            else if (item.Approved == false) tblBg = "table-danger";
            else tblBg = "table-warning";

            <tr class="@tblBg">
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Firstname) @Html.DisplayFor(modelItem => item.Employee.Lastname)
                </td>
                <td>
                    @item.StartWeek.ToShortDateString()
                </td>
                <td>
                    @item.EndWeek.ToShortDateString()
                </td>
                <td>
                    @item.DateCreated.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHours)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Pending Approval</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
