@model DateTime

<div id="entries">
<header class="d-flex align-items-center justify-content-between bg-white p-3 shadow-sm">
    <div class="d-flex gap-2">
        <span class="bg-warning p-2 rounded"><i class="bi bi-calendar2-week text-light"></i></span>
        <h3 class="text-dark">Time Entry</h3>
    </div>
    <div>      
        <button id="copyTemplateBtn" class="btn btn-outline-primary disabled">Copy Template Schedule</button>
        <button class="btn btn-outline-primary disabled" id="copyBtn">Copy From Previous Week</button>
        <input class="btn btn-outline-primary" value="Submit" type="submit" disabled />
    </div>
</header>

<partial name="_MessagePartial" />

<br />
<br />

<div class="bg-white">
    <div class="form-group d-flex gap-2 align-items-center p-3 border border-bottom-0 rounded-top">
        <span>Week Starting</span>
        <a class="btn btn-info btn-sm disabled placeholder"><i class="bi bi-arrow-left"></i></a>
        <form id="dateForm" >
        <div class="input-group-sm date" id="datepicker">
                <input type="text" id="dateInput" class="form-control disabled placeholder" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        </form>
        <a class="btn btn-info btn-sm disabled placeholder"><i class="bi bi-arrow-right"></i></a>
    </div>    
    <table class="table table-striped table-hover border rounded-bottom">
        <thead>
            <tr>
                <th>@Model.ToString("ddd/dd")</th>
                <th>@Model.AddDays(1).ToString("ddd/dd")</th>
                <th>@Model.AddDays(2).ToString("ddd/dd")</th>
                <th>@Model.AddDays(3).ToString("ddd/dd")</th>
                <th>@Model.AddDays(4).ToString("ddd/dd")</th>
                <th>@Model.AddDays(5).ToString("ddd/dd")</th>
                <th>@Model.AddDays(6).ToString("ddd/dd")</th>
                <th>Sum</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
             <tr class="placeholder-glow">
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
             </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 5rem">
    <h4>Template Schedule</h4>
    <div class="form-group bg-white d-flex gap-2 align-items-center p-3 border border-bottom-0 rounded-top mt-3">
        <span>Week Starting</span>
        <div class="input-group-sm date" id="datepicker">
            <input type="text" class="form-control disabled placeholder" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input class="btn btn-outline-primary btn-sm disabled placeholder" value="Save Schedule"/>
    </div>
    <table class="table table-striped bg-white table-hover border rounded-bottom">
        <thead>
            <tr class="placeholder-glow">
                    <th>@Model.ToString("ddd/dd")</th>
                    <th>@Model.AddDays(1).ToString("ddd/dd")</th>
                    <th>@Model.AddDays(2).ToString("ddd/dd")</th>
                    <th>@Model.AddDays(3).ToString("ddd/dd")</th>
                    <th>@Model.AddDays(4).ToString("ddd/dd")</th>
                    <th>@Model.AddDays(5).ToString("ddd/dd")</th>
                    <th>@Model.AddDays(6).ToString("ddd/dd")</th>
                <th>Sum</th>
            </tr>
        </thead>
        <tbody>
            <tr class="placeholder-glow">
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
                <th><span class="placeholder col-12"></span></th>
            </tr>
        </tbody>
    </table>
</div>
</div>

@section Scripts {
    <script>

        const url = '@Url.Action("TimeEntryPartialView", new { date = Model })';

        $.ajax({
            type: "GET",
            url: url,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val())
            },
            success: function (response) {
                

                $("#entries").html(response)

                $('#datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '01/01/2022',
                    endDate: '01/01/2024',
                    daysOfWeekDisabled: ['0', '2', '3', '4', '5', '6'],
                    daysOfWeekHighlighted: '1',
                });

                $("#copyTemplateBtn").click(function () {
                    for (let i = 3, j = 4; i < 10; i++, j++) {                     
                        $("#timeForm")[0][i].value = $('#templateForm')[0][j].value;
                    }
                });

                $('#dateInput').on('change', function () {
                    const date = $(this).val()
                    $(this).val(`${date.substring(0, 2)}-${date.substring(3, 5)}-${date.substring(8)}`)
                    $('#dateForm').submit()
                })

                $("#copyBtn").click(function() {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("Copy", new {date = Model})',
                        success: function (response) {
                            for (let i = 3, j = 0; i < 10; i++, j++) {
                                $("#timeForm")[0][i].value = response[j]
                            }
                        },
                        failure: function (response) {
                            console.log(response.responseText)
                        },
                        error: function (response) {
                            if (response.status == 401)
                                top.location.href = '/users/login'
                        }
                    })
                })
            },
            failure: function (response) {
                console.log(response.responseText)
            },
            error: function (response) {
                if (response.status == 401)
                    top.location.href = '/users/login'
            }
        })

        
        

        //$("#entries").load(url, function (responseTxt, statusTxt, xhr) {
        //    if (xhr.status == 401) {
        //        top.location.href = '/users/login'
        //    }

        //    $('#datepicker').datepicker({
        //        format: 'dd/mm/yyyy',
        //        startDate: '01/01/2022',
        //        endDate: '01/01/2024',
        //        daysOfWeekDisabled: ['0', '2', '3', '4', '5', '6'],
        //        daysOfWeekHighlighted: '1',
        //    });

        //    $("#copyTemplateBtn").click(function () {
        //        for (let i = 3; i < 10; i++) {
        //            $("#timeForm")[0][i].value = $('#templateForm')[0][i].value;
        //        }
        //    });

        //    $('#dateInput').on('change', function () {
        //        const date = $(this).val()
        //        $(this).val(`${date.substring(0, 2)}-${date.substring(3, 5)}-${date.substring(8)}`)
        //        $('#dateForm').submit()
        //    })

        //});
        
    </script>
}